-imgPath='/public/images/'
mixin articleIcon(content)
  each item in content
    section.articleIcon
      .articleIcon-header
        .articleIcon-header_title
          h3.title_text #{item[0]}
        .articleIcon-header_icon
          img(src=imgPath+`${item[1]}`, alt="" height="60px")
      .articleIcon-body
        p.articleIcon-body_text #{item[2]}

